<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testlot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testlot.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @testlot.status %>
</p>

<%= image_tag @testlot.image.url(:medium) %>
<br>

<h2>Photos</h2>
<div class="row">
  <ul class="thumbnails files">
	<% unless @testphotos.empty? %>
	  <% @testphotos.each do |pic| %>
	    <li class="span3" id="picture_<%= pic.id %>">
	    <div class="thumbnail">
	      <%= image_tag pic.image.url(:medium) %>
	      <div class="caption">
	        <p style="text-align: center;">


	        </p>
	      </div>
	    </div>
	    </li>
	  <% end %>
	<% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_testlot_path(@testlot) %> |
<%= link_to 'Back', testlots_path %>
