<p id="notice"><%= notice %></p>

<h1>Listing Testitems testtestest</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testitems.each do |testitem| %>
      <tr>
        <td><%= testitem.name %></td>
        <td><%= testitem.description %></td>
        <td><%= link_to 'Show', testitem %></td>
        <td><%= link_to 'Edit', edit_testitem_path(testitem) %></td>
        <td><%= link_to 'Destroy', testitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testitem', new_testitem_path %>
