<ul id="dropdown1" class="dropdown-content">
  <li><a href="/dashboard">My Listing</a></li>
  <li class="divider"></li>
  <li><a href="/logout" class="authnav">Sign out</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Inchi</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/items">Item Market</a></li>
      <li><a href="/apartments">Apartment Info</a></li>
      <li><a href="/classfieds">Classfied</a></li>
      <%if !user_signed_in?%>
      <li><a href="/login" class="authnav">Log in</a></li>
      <li><a href="/signup" class="authnav">Sign up</a></li>
      <% end %>
      <%if user_signed_in?%>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.firstname %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>
<br/>
<br/>        
<div class="login_wrapper">
<h2>Log in</h2>
<%= form_for(resource, :html => {:class => "col s3"}, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field">
      <%= f.email_field :email, :class => 'validate',autofocus: true %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br/>

  <div class="actions">
    <%= f.submit "Log in" , :class => 'waves-effect waves-light btn' %>
  </div>
<% end %>
</div>


