<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
<br/>
<br/>        
<div class="login_wrapper">
<h2>Log in</h2>
<%= form_for(resource, :html => {:class => "col s3"}, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field">
      <%= f.email_field :email, :class => 'validate',autofocus: true %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br/>

  <div class="actions">
    <%= f.submit "Log in" , :class => 'waves-effect waves-light btn' %>
  </div>
<% end %>
</div>



<%= render "devise/shared/links" %>
