<section class="sect">
<%= render 'nav' %>
<div class="container">
<h1>Listing Classfieds</h1>
<div class="row">
  <% @classfieds.each do |classfied| %>
  <div class="col s12 one-class">
    <div class="row one-class-row">
      <div class="col s7 class-des">
        <%= link_to classfied.title, classfied %>
      </div>
      <div class="col s2">
        <div class="class-category 
        <% case classfied.category when 'Looking for playmates' %><%= 'category-mates' %>
        <% when 'Want to buy' %><%= 'category-buy'  %>
        <% when 'Ask for help' %><%= 'category-help'  %>
        <% end %>">
          <%= classfied.category %>
        </div>
      </div>
      <div class="col s3">
        <%= classfied.user.firstname %> on <%= classfied.created_at.strftime('%F') %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<br>


</div>
</section>