<section class="sect">
<%= render 'nav' %>
<br/>
<div class="container">
  <div class="row">
    <div class="col s3 class-wapper">
      <div class="class-poster">
        <p class="poster-name">Luke</p>
        <p>Posted on <%= @classfied.created_at.strftime('%F') %></p>
      </div>
      <div class="class-contact">
          <div class="fa fa-envelope-o"></div>
          <div><%= @classfied.email %></div>
      </div>
      <div class="class-contact">
          <div class="fa fa-weixin"></div>
          <div><%= @classfied.wechat %></div>
      </div>
      <div class="class-contact">
          <div class="fa fa-phone"></div>
          <div><%= @classfied.phone %></div>
      </div> 
    </div>
    <div class="col s8 class-wapper class-height">
      <h3><%= @classfied.title %></h3>
      <%if user_signed_in?%>
        <% if current_user.id == @classfied.user_id %>
          <%= link_to 'Edit', edit_classfied_path(@classfied),{'data-no-turbolink' => "",'class' => 'lot-edit'} %> 
          <%= link_to 'Destroy', @classfied, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'lot-delete'%>
        <% end %>
      <% end %>
      <p><%= @classfied.description %></p>
    </div>
    </div>
  </div>
</div>
</section>


