<div class="form-new">
<h3>Item Listing</h3>
<br>
<%= form_for @lot, html: {  multipart: true } do |f| %>
  <% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% @lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :title, :class => 'validate', :placeholder => "Listing Name" %>
            <%= f.label :title %><br>
    </div>
    <div class="input-field col s12">
    <%= f.text_area :description, :class => 'materialize-textarea' %>
            <%= f.label :description %><br>
    </div>
    <div class="input-field col s12">
      <%= f.text_field :lotAddress %>
      <%= f.label :lotAddress,'Item(s) Address' %>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <%= f.check_box :pickup,{'id '=> 'lot_pickup'} %>
        <%= f.label :pickup, "Pick up only?" %>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="input-field col s12">
        <%= f.label :contactEmail %><br>
        <%= f.text_field :contactEmail %>
      </div>
      <div class="input-field col s6">
        <%= f.label :contactPhone %><br>
        <%= f.text_field :contactPhone %>
      </div>
      <div class="input-field col s6">
        <%= f.label :contactWechat %><br>
        <%= f.text_field :contactWechat %>
      </div>
  </div>

  <% if @photos %>
  <h4>Photo Gallery</h4>
    <div class="row">
    <% @photos.each do |pic| %>
      <div class="col s3">
        <div class="row">
            <div class="col s12 lotimg">
            <%= link_to image_tag(pic.image.url(:showpic)), pic.image.url(:huge), :data=> { :gallery =>"" } %>  
            </div>
            <div class="col s12">
              <%=
                link_to "Delete picture", pic,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete,
                  :class => 'lot-photo-delete'
                %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :photos, :class => 'control-label' %>
    <div class="controls">
      <div class="row">
        <% (1..8 - (@lot.photos.length)).each do |i| %>
          <div class="file-field input-field col s6">
            <div class="btn d-backcolor">
              <span>Image</span>
              <input type="file" name="images[]" id="images_" multiple="multiple">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <div class="actions form-group">
    <%= f.submit 'Create', :class => 'waves-effect waves-light btn d-backcolor' %>
  </div>
<% end %>
</div>
