<%= form_for @lot, html: {  multipart: true } do |f| %>
  <% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% @lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, :class => 'control-label' %><br>
    <%= f.text_field :title, :class => 'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :photos, :class => 'control-label' %>
    <div class="controls">
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>
  <br>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
