<%= form_for @lot, html: {  multipart: true } do |f| %>
  <% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% @lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :title, :class => 'validate', :placeholder => "Listing Name" %>
            <%= f.label :title %><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <%= f.text_area :description, :class => 'materialize-textarea' %>
            <%= f.label :description %><br>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status, :class => 'form-control' %>
  </div>
  <div class="row">
  <div class="field form-group">
    <div class="file-field input-field col s6">
      <div class="btn d-backcolor">
        <span>Image</span>
        <input type="file" name="lot[image]" id="lot_image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :photos, :class => 'control-label' %>
    <div class="controls">
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

  <% if @photos %>
    <div class="row">
    <% @photos.each do |pic| %>
      <div class="col s3">
        <div class="row">
            <div class="col s12 lotimg">
            <%= link_to image_tag(pic.image.url(:showpic)), pic.image.url(:huge), :data=> { :gallery =>"" } %>  
            </div>
            <div class="col s12">
              <%=
                link_to "Delete picture", pic,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete
                %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <% end %>


  <br>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
