<section class="lotsect">
<%= render 'nav' %>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Item Listing</h1>
  <div class="row">
    <% @lots.each do |lot| %>
      <div class="col s6 m3  onelot">
        <div class="contentwrapper">
          <div class="imgwrapper">
          <% if lot.photos.size >0 %>]
            <%= link_to image_tag(lot.photos.first.image.url(:large)), lot %>
          <% end %>
          </div>
          <div class="deswrapper">
            <i>Post by <%= lot.user.firstname %> at <%= lot.created_at.strftime('%F') %></i>
            <div class="lotlink"><%= link_to lot.title, lot %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br/>

<br>



</div>
</section>