<section class="lotsection">
<%= render 'nav' %>
<div class="intro">
	<div class="introcontent">
		<h2 class="lot-title"><%= @lot.title %></h2>
		<%if user_signed_in?%>
			<% if current_user.id == @lot.user_id %>
				<%= link_to 'Edit', edit_lot_path(@lot),{'data-no-turbolink' => "",'class' => 'lot-edit'} %> 
				<%= link_to 'Delete', @lot, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'lot-delete'%>
			<% end %>
		<% end %>
		<br/>
		<br/>
		<h4>About this listing</h4>
		<div><%= @lot.description %></div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="row">
			<div class="col s3">
				<div class="detail-icon">
					<div class="fa fa-truck"></div>
					<h4><%= @lot.pickup == true ? 'Pickup/Mail' : 'Delivery available' %></h4>
				</div>
			</div>
			<div class="col s3">
				<div class="detail-icon">
					<div class="fa fa-phone"></div>
					<h4><%= @lot.contactPhone %></h4>
				</div>
			</div>
			<div class="col s3">
				<div class="detail-icon">
					<div class="fa fa-envelope-o"></div>
					<h4><%= @lot.contactEmail %></h4>
				</div>
			</div>
			<div class="col s3">
				<div class="detail-icon">
					<div class="fa fa-weixin"></div>
					<h4><%= @lot.contactWechat %></h4>
				</div>
			</div>		
		</div>		
	</div>

</div>
<br/>
<div  class="lotdetail">

<br/>
<br/>

<div class="lotgallery">
<div id="links">
<div class="row">
	<% unless @first2.empty? %>
	  <% @first2.each do |pic| %>
	  	<div class="col s6 lotimg">
    	<%= image_tag(pic.image.url(:large), class:"materialboxed") %>	
		</div>
	  <% end %>
	<% end %>

	<% unless @photos.empty? %>
	  <% @photos.each do |pic| %>
	  	<div class="col s4 lotimg">
    	<%= image_tag(pic.image.url(:large), class:"materialboxed") %>		
		</div>

	  <% end %>
	<% end %>
</div>
</div>
</div>
	
</div>
<br/>


<br/>
</section>
<p id="notice"><%= notice %></p>


<p>
  <strong>Status:</strong>
  <%= @lot.status %>
</p>

<%= image_tag @lot.image.url(:medium) %>
<br>


<%= link_to 'Edit', edit_lot_path(@lot),{'data-no-turbolink' => ""} %> |
<%= link_to 'Back', lots_path %>
</section>